@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    margin: 10px 200px 0px 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-style: dashed;

}

h1{
    background-color: aliceblue;
}

button{
    border: none;
    background: black;
    color: white;
    height: 50px;
    width: 80px;
    margin: 10px 10px 0px 0px;
    transition: background, 200ms;
}

button:hover{
    background:gray
}

.cal{
    height: 40px;
    width: 100px;
}